<%- include("partials/header") %> 
<h1>Home</h1>

<p><%= firstPost %> </p>

<% dailyJournal.forEach(element => {%>

    <div class="item">
        <h3><%=element.title%></h3>
        <% let postBody = element.body.slice(0, 250)+ " ...";%>
        <p><%=postBody%> <a href="/posts/<%=element.title%>">Read more</a></p>
    </div>
    
<%}); %> 



<%- include("partials/footer") %> 

